* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background: #987eff;
}

.to-do-container {
    display: flex;
    width: 100%;
    height: 600px;
    max-width: 1200px;
    background: #a18aff;
    border: 3px solid white;
    margin: 120px auto 120px auto;
    border-radius: 15px;
}

.aside__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background: #fff;
}

.account-container {
    display: flex;
    gap: 20px;
}

.account__about {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.name {
    font-size: 24px;
}

.status {
    color: #a18aff;
    font-weight: bold;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid black;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/*   */

.aside__task {
    flex: 3;
    background: inherit;
}

.container-task-input {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin: 40px auto 15px 60px;
}

.container-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
}

.title {
    letter-spacing: 0.2em;
}

.subtitle {
    font-size: 18px;
    letter-spacing: 0.1em;
    color: black;
}

.input-container {
    margin-right: 40px;
}

#input {
    border: none;
    width: 800px;
    padding: 15px;
    border-radius: 20px;
}
