* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background: #987eff;
}

.to-do-container {
    display: flex;
    width: 100%;
    height: 600px;
    max-width: 1200px;
    background: #a18aff;
    border: 3px solid white;
    margin: 120px auto 120px auto;
    border-radius: 15px;
}

.aside__info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    background: #fff;
}

.account-container {
    display: flex;
    gap: 20px;
}

.account__about {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.name {
    font-size: 24px;
}

.status {
    color: #a18aff;
    font-weight: bold;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid black;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.recycle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #a18aff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.recycled-tasks {
    list-style-type: none;
    padding: 0;
}

.recycled-tasks li {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.recycled-tasks li:hover {
    background-color: #a18aff;
}

.recycle-img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.recycle-txt {
    font-size: 18px;
}

/*   */

.aside__task {
    flex: 3;
    background: inherit;
}

.container-task-input {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin: 40px auto 15px 60px;
}

.container-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
}

.title {
    letter-spacing: 0.2em;
}

.subtitle {
    font-size: 18px;
    letter-spacing: 0.1em;
    color: black;
}

.input-container {
    margin-right: 40px;
    display: inline-flex;
    justify-content: center;
    gap: 10px;
}

#input {
    border: none;
    width: 800px;
    padding: 15px;
    border-radius: 20px;
    outline: none;
}

.btn-input {
    background: none;
    border: none;
    cursor: pointer;
}
.task-container {
    display: flex;
    margin-right: 40px;
}

.list-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 15px;
}

.task__item__container {
    list-style: none;
    padding: 10px;
    border-radius: 20px;
    background: #fff;
}

.task__item {
    user-select: none;
    cursor: pointer;
    position: relative;
    font-size: 17px;
    padding: 13px 8px 12px 50px;
    color: #000;
}

.task__item::before {
    content: "";
    position: absolute;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-image: url(./Img/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 10px;
}

.checked {
    color: #555;
    text-decoration: line-through;
}

.checked::before {
    background-image: url(./Img/checked.png);
}
