* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: rgb(63, 94, 251);
    background: radial-gradient(
        circle,
        rgba(63, 94, 251, 1) 0%,
        rgba(235, 73, 255, 1) 100%
    );
    padding: 10px;
}

.to-do {
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 100%;
    max-width: 540px;
    margin: 100px auto 400px auto;
    padding: 15px;
    border-radius: 10px;
}

.to-do__h2 {
    display: flex;
    gap: 5px;
}

.to-do__h2 img {
    width: 30px;
    align-items: center;
    margin-bottom: 40px;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-self: center;
    margin-bottom: 25px;
}

#input-box {
    flex: 1;
    min-width: 300px;
    padding: 5px;
    border: none;
    outline: none;
    background: transparent;
    margin-right: 10px;
}

.btn {
    width: 100px;
    padding: 6px 10px;
    background: #ff5945;
    font-size: 16px;
    color: #fff;
    font-weight: 100;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.list-item {
    position: relative;
    list-style: none;
    padding: 16px 20px 16px 50px;
    font-size: 17px;
    cursor: pointer;
}

.list-item::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-image: url(./Img/unchecked.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    top: 16px;
    left: 10px;
}

.checked {
    color: #555;
    text-decoration: line-through;
}

.checked::before {
    background-image: url(./Img/checked.png);
}
